<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">

    <% @tournaments.each do |tournament| %>
      <div class="row">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= tournament.title %>, <%= tournament.modality%> </h5>
              <p class="card-text"><%= tournament.content%></p>
              <p class="card-text"><small class="text-muted float-right"><%= tournament.created_at.to_date%></small></p>
            </div>
        </div>
      </div>
        <p><%= link_to 'Show', tournament, class:"btn btn-warning" %>
        <%= link_to 'Edit', edit_tournament_path(tournament) , class:"btn btn-success"  %>
        <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></p>
    <% end %>

  </div>
  <div class="col-3">
  <%= link_to 'New Tournament', new_tournament_path, class:"btn btn-info float-right mb-3"%>
  </div>
</div>


<% @tournaments.each do |tournament| %>
		<div class="card mb-3">
		<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
						<h5 class="card-title"><%= tournament.title %>, <%= tournament.modality%> </h5>
						<p class="card-text"><%= tournament.content%></p>
						<p class="card-text"><small class="text-muted float-right"><%= tournament.created_at.to_date%></small></p>
				</div>
		</div>
<% end %>
