
<div class="row">
    <div class="col-8">
    </div>
    <div class="col-4">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Dinero Recaudado</div>
        <div class="card-body">
            <p class="card-text"><%= number_to_currency(@payed_fees.inject  {|sum, fee| sum + fee}, precision: 0) %></p>
        </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Deuda de la comunidad</div>
        <div class="card-body">
            <p class="card-text"><%= number_to_currency(@unpayed_fees.inject  {|sum, fee| sum + fee}, precision: 0) %></p>
        </div>
        </div>
    </div>

</div>